body, html {
	min-height: 100%;
	padding: 0px;
	margin: 0px;
}

#profile {
	border-radius: 100%;
	width: 160px;
	margin-right: 27px;
	vertical-align: middle;
}

body {
	max-width: 600px;
	margin: auto;
	padding-top: 50px;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
}

h1 div {
	display: inline-block;
	vertical-align: middle;
}

h1 small {
	color: rgba(0, 0, 0, 0.25);
}

h3 {
	margin-top: 2em;
	margin-bottom: 2em;
	font-weight: normal;
	font-size: 1.5em;
}

ul {
	padding: 0px;
	margin: 0px;
	display: block;
	min-height: 100px;
}

ul li {
	padding: 0px;
	list-style-type: none;
	margin: 0px;
	display: inline-block;
	margin: 10px;
	width: 150px;
	height: 100px;
	border-radius: 3px;
}

ul li a {
	font-size: 1.5em;
	width: 150px;
	height: 150px;
	display: block;
	position: absolute;
	padding-top: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

ul li a small {
	width: 130px;
	top: 40px;
	left: 0px;
	display: block;
	position: absolute;
	padding: 10px;
	font-weight: normal;
}

ul li:nth-child(1) {
	background-color: #0072b1;
	border-bottom: 7px solid #005b8e;
}

ul li:nth-child(2) {
	background-color: #3f962a;
	border-bottom: 7px solid #006613;
}

ul li:nth-child(3) {
	background-color: #3b5998;
	border-bottom: 7px solid #2f477a;
}
